NODE_ENV=development
PORT=6002

DATABASE_URL=postgresql://root:root@localhost:5432/strategia_db

JWT_SECRET=Pgdej$:;!jekor!;,n2@%$^&*_+|":?><,./;'\=-`~qwertyuiopasdfghjklzxcvbnm
JWT_EXPIRES_IN=120m
JWT_REFRESH_SECRET=kek$ù!lko9s8v7u6t5r4q3p2o1n0m9l8k7j6h5g4f3d2c1b0a
JWT_REFRESH_EXPIRES_IN=7d

APP_NAME=StrategIA
APP_URL=http://localhost:6002

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

MISTRAL_API_KEY=UtY7tzFuwMaZDIGFM7QUkmveXzoMhtvw
MISTRAL_MODEL=mistral-large-latest

COLLECTOR_ENGINE_URL=http://localhost:8000
